apache-airflow-providers-postgres
apache-airflow-providers-amazon
boto3
pandas
requests
duckdb==1.4.3
dbt-duckdb==1.10.0
dbt-core==1.10.10
pydantic==2.12.5
pydantic-core==2.41.5
astronomer-cosmos==1.12.0
pyarrow>=14.0.0